*
!*.png
!*.xml
!*.json
!*.svg
!*.ico
!.gitignore
!wp-content
!wp-content/themes
!wp-content/themes/linnette
!wp-content/themes/linnette/**
wp-content/themes/linnette/tests/node_modules
!puphpet
!puphpet/config.yaml