{% extends 'master.twig' %}

{% block main_content %}

	<section class="main_content" role="main">

		{% block cats %}
			{% if cats %}
				<nav class="main_content__cat_list" itemscope itemtype="https://schema.org/SiteNavigationElement">
					<div class="main_content__cat_list__caption">Kategorie:</div>
					{% for cat in cats %}
						<a class="main_content__cat_list__item{% if cat.current %} is-active{% endif %}" href="{{ cat.link }}" itemprop="name url">{{ cat.name }}</a>
					{% endfor %}
				</nav>
			{% endif %}
		{% endblock %}

		{% if posts %}
			<div class="main_content__thumb_list">
				{% for post in posts %}
					{% if loop.index > 3 %}
						{% set below_fold = true %}
						{{ enqueue_js_lazysizes() }}
					{% endif %}

					{% include '_thumb_list_captioned_image.twig' %}
				{% endfor %}

			</div>
		{% endif %}

	</section>

{% endblock %}
