{% extends 'master.twig' %}

{% block main_content %}

	<article class="main_content" role="main" itemprop="mainContentOfPage">

		{% block cats %}{% endblock %}

		<div class="images_list" itemscope itemtype="https://schema.org/ImageGallery">

			{% set images = home_images %}

			{% embed '_images_list.twig' %}{% endembed %}

		</div>

		{% block below_images %}{% endblock %}

	</article>

{% endblock %}