{% extends 'master.twig' %}

{% block featured_image %}
	<figure class="main_content__featured_image captioned_image" itemprop="primaryImageOfPage" itemscope itemtype="https://schema.org/ImageObject">
		<img alt="{{ featured_image.alt }}"
		     srcset="{{ featured_image.srcset }}"
		     sizes="(min-width: 1280px) 1022px, (min-width: 1024px) calc( 100% - 228px ), 100vw"
		     width="{{ featured_image.width }}" height="{{ featured_image.height }}"
		     class="captioned_image__image"
		     itemprop="image"/>
		<figcaption class="captioned_image__caption" itemprop="caption">Zatopený lom<br/><span>Cestování</span></figcaption>
	</figure>
{% endblock %}