{% extends 'front-page.twig' %}

{% block cats %}

	<nav class="main_content__cat_list" itemscope itemtype="https://schema.org/SiteNavigationElement">
		<div class="main_content__cat_list__caption">Kategorie:</div>
		{% for cat in cats %}
			<a class="main_content__cat_list__item{% if cat.current %} is-active{% endif %}" href="{{ cat.link }}" itemprop="name url">{{ cat.name }}</a>
		{% endfor %}
	</nav>

{% endblock %}

{% block below_images %}

	{% if call_to_action_button_enabled %}
		<div class="main_content__typo">
			<div class="call_to_action_link has-no-bottom-margin">
				<a href="{{ call_to_action_button_link }}" class="call_to_action_link__inner">{{ call_to_action_button_text }}</a>
			</div>
		</div>
	{% endif %}

{% endblock %}